@import "~react-image-gallery/styles/css/image-gallery.css";
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}
button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  /* font-family: "Raleway"; */
  font-family: "Raleway", sans-serif;
}
